.contactForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 210px;
}

.contactFormLabel {
  margin-bottom: 10px;
}

.contactFormBtn {
  width: 100px;
  padding: 5px;
}

.numberFormat {
  padding: 0;
  margin: 0;
  color: gray;
  opacity: 0.5;
}
